* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --regular: "Regular-text";
  --bold: "Bold-text";
  --medium: "Medium-text";
  --light: "Light-text";
  --semi-bold: "Semi-Bold-text";
  --primary: #ebba48;
  --danger: #f14a45;
  --white: white;
  --inputBorder: 0.5px solid rgba(0, 0, 0, 0.25);
  --black: black;
  --shadowBtn: 0px 4px 4px 0px rgba(255, 255, 255, 0.15) inset;
  --lightBorder: 1px solid #ebe5e5;
  --weightRegular: 400;
  --weightMedium: 500;
  --weightSemibold: 600;
  --weightBold: 700;
  --weightExtrabold: 800;
  --weightBlack: 900;
}

@font-face {
  font-family: "Extra-bold-text";
  src: url("./Assests/Fonts/DMSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Regular-text";
  src: url("./Assests/Fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Medium-text";
  src: url("./Assests/Fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: "Semi-Bold-text";
  src: url("./Assests/Fonts/DMSans-SemiBold.ttf");
}

@font-face {
  font-family: "Bold-text";
  src: url("./Assests/Fonts/DMSans-Bold.ttf");
}

p {
  margin: 0px;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  background-color: #222;
  border: 1px solid #7e807f;
}

.carousel-indicators .active {
  background-color: var(--primary);
  border: 1px solid #7e807f;
}

.form-select {
  border: 1px solid #3f3f3f !important;
  background-color: transparent !important;
}

.container {
  max-width: 1170px !important;
}

.rc-color-picker-panel {
  width: 100% !important;
}

.form-select {
  /* border: 1px solid black !important;s */
}

.form-control:focus {
  border-color: #222;
  box-shadow: none;
}

.ant-picker
  ant-picker-invalid
  ant-picker-outlined
  css-dev-only-do-not-override-nqoqt9 {
  box-shadow: none;
}

/* .ant-picker .ant-picker-input > input {
  color: white;
} */

.ant-picker-dropdown .ant-picker-panel-container {
  border-radius: 0px !important;
}

/* .ant-carousel .slick-dots li button:hover {
  opacity: 0;
} */
/* .ant-carousel .slick-dots li:hover {
  opacity: 0;
} */

/* .ant-carousel .slick-dots li.slick-active button:hover {
  opacity: 0;
  background-color: transparent;
} */

/* .ant-carousel .slick-dots li button:focus {
  opacity: 0;
}

.ant-carousel .slick-dots li.slick-active button:hover {
  opacity: 0;
}

:where(.css-dev-only-do-not-override-rcq0tz).ant-carousel
  .slick-dots
  li
  button:hover {
  opacity: 0;
  background-color: #222;
} */

:where(.css-dev-only-do-not-override-rcq0tz).ant-carousel
  .slick-dots
  li
  button:hover,
:where(.css-dev-only-do-not-override-rcq0tz).ant-carousel
  .slick-dots
  li
  button:focus {
  opacity: 1;
  background-color: transparent;
}

.ant-carousel .slick-dots li {
  opacity: 1 !important;
}
@media (max-width: 576px) {
  .ant-carousel .slick-dots li {
    width: 8px !important;
    height: 8px !important;
  }
  .ant-carousel .slick-dots li.slick-active button {
    width: 8px !important;
    height: 8px !important;
  }
  .ant-carousel .slick-dots li button {
    width: 8px !important;
    height: 8px !important;
  }
}
